body{
    padding: 2%;
    margin: auto;
    max-width: 100%;
}
header{
    background-color: #FFCC66;
    height: 65px;

}
h1,h2,h3,h4{
     font-size: 25px;
    float: left;
    margin: 0 auto;
    padding-top: 1.5%;
    font-family:monospace;
    opacity: 0.5;
}

h1{
    padding-left:5%;
}
h2{
  padding-left: 7%;
}
h3{
    padding-left: 15%;
}
h4{
    padding-left: 15%;
}
.button{
    margin-left: 20%;
    margin-top: 1%;
    background-color: #FFFF77;
    height: 40px;
    width: 130px;
    border-radius: 4px;
    border: none;
    margin-bottom: 0%;
    box-shadow: 0px 4px #FFFF22;
}
